.user-spec {
    margin-top: 1rem;
}

.user-spec__info legend {
    font-weight: bold;
}

.user-spec-info {
    margin-top: 1rem;
}

.user-spec__info section {
    display: flex;
    flex-direction: column;
}

.user-spec__info section>div {
    border-bottom: 1px solid var(--secondary-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 0;
}

.user-spec__info section>div input {
    height: 1rem;
    width: 25%;
    min-width: 7rem;
    padding: 0.6rem 0.4rem;
    font-size: 0.9em;
    border-radius: 0.2rem;
    border: none;
    transition: all 0.4s ease-in;
}

.user-spec__info section>div input:focus {
    outline: none;
    box-shadow: 0 0 5px 3px var(--complementary-color);
    border: none;
}

@media screen and (max-width: 768px) {
    .user-spec__info section>div {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }
    .user-spec__info section>div input {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .user-spec__info section>div input {
        width: 100%;
    }
    .user-spec__info section>div label {
        font-size: 0.8em;
    }
    .user-spec__info section small {
        font-size: 0.6em;
    }
}