@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
    --base-color: #2596ec;
    --primary-color: #fff;
    --secondary-color: #EBF5FD;
    --complementary-color: #A7D5F7;
    --base-font: Roboto, system-ui, sans-serif;
    --font-size: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--secondary-color);
}

html {
    font-size: var(--font-size);
    font-family: var(--base-font);
}

input {
    font-family: var(--base-font);
}

#error-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}